body {
	background: #000;
	margin: 0px;
	padding: 0px;
}

#primary_container {
	position: relative;
	max-width: 600px;
	min-height: 100%;
	margin: auto auto; 
}

#jquery_mobile_content {
	float: left;
	clear: both;
}

.header {
	max-height: 200px;
	border: 0px;
	border-bottom: 1px solid #eee;
}

.header img {
	position: relative;
	width: 95%;
	max-width: 521px;
	margin-left: 2.5%;
}

.content {

}

.page {
	background: url('../img/bg.png');
}

.list_header {
	position: relative;
	width: 95%;
	margin-left: 2.5%;
}

#list_container, #no_list {
	display: none;
	position: relative;
	width: 95%;
	margin-left: 2.5%;
}

#no_list {
	display: block;
	text-align: center;
}

.list {
	position: relative;
}

#fs_login {

}

#fs_login img {
	display: inline;
}

.venue_li {

}

.venue_li p {
	margin-left: 5px;
	min-height: 14px;
}

.venue_li img {
	margin-top: 8px;
	margin-left: 8px;
}

#venue_info_header {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

#venue_name {
	position: relative;
	float: left;
	clear: right;
	margin-left: 10px;
	white-space: normal;
}

#venue_icon {
	float: left;
}

#venue_info_container {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.divider {
	float: left;
	clear: both;
	width: 100%;
	border: 0px;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #888;
}

.unselected_input {
	color: #ccc;
	font-weight: bold;
}

.selected_input {
	color: #000 !important;
}