body {
	background: #000;
	margin: 0px;
	padding: 0px;
}

#primary_container {
	position: relative;
	max-width: 600px;
	min-height: 100%;
	margin: auto auto; 
}

#jquery_mobile_content {
	float: left;
	clear: both;
}

.header {
	border: 0px;
	border-bottom: 1px solid #eee;
}

.header img {
	position: relative;
	width: 95%;
	max-width: 521px;
	margin-left: 2.5%;
	margin-bottom: 10px;
}

.page {
	background: url('../img/bg.png');
}

.list_header {
	position: relative;
	width: 95%;
	margin-left: 2.5%;
}

#list_container, #no_list {
	display: none;
	position: relative;
	margin: 0px;
}

#no_list {
	display: block;
	text-align: center;
}

#venue_list {
	margin-bottom: 0px;
}

#fs_login {

}

#refresh_list {
	margin-bottom: 30px;
}

#fs_login img {
	display: inline;
}

.venue_li {
	position: relative;
}

.venue_li:hover {
	z-index: 3;
}

.venue_li h3 {
	position: relative;
	margin-top: 5px;
	margin-left: -30px;
	margin-top: 8px;
}

.venue_li p {
	position: relative;
	margin-top: 8px;
	margin-left: -25px;
}

.venue_li img {
	position: relative;
	padding: 8px;
	padding-right: 0px;
	margin-left: -95px;
}

#venue_info_header {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

#venue_name {
	position: relative;
	float: left;
	clear: right;
	margin-left: 10px;
	margin-top: 18px;
	white-space: normal;
}

#venue_icon {
	float: left;
	clear: left;
}

#venue_info_container {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.divider {
	float: left;
	clear: both;
	width: 100%;
	border: 0px;
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #888;
	margin-top: 20px;
	margin-bottom: 20px;
}

#check_in_btn, #back_btn {
	margin-top: 20px;
	margin-bottom: 0px;
}

#map_canvas {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	border: 1px solid #000;
	margin-bottom: -10px;
}